@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');
@import "~bootstrap/scss/bootstrap";

// #FC0C84
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .login-form {
        margin: 10px;
        font-family: 'Montserrat', sans-serif;
        width: 40%;
        padding-top: 40px;
        padding-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 1px solid #e5e6e4;
            
        div {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 15px;
            }
        button {
            height: 30px;
            padding: 5px;
            margin-top: 5px;
            font-family: 'Montserrat', sans-serif;
            background-color:#fc6b00;
            color: white;
            border-radius: 5px;
            border: 1px solid transparent;
        }
        input {
            max-width: 100%;
            height: 23px;
            margin-top: 3px;
            border-radius: 3px;
            border: 0.5px solid #fc6b00;        
        }
        h1 {
            margin: 10px;
        }

    }
}